<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.svg') }}">
	<title>Pinacolada - Copyright</title>
	<meta author="90N45">

	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="bg-dark">
	<div>
		<nav class="navbar navbar-expand-lg navbar-light static-top shadow-sm" style="background-color: #343a40; border-bottom: solid; border-color: #00F955;">
			<div class="container-fluid">
				<a class="navbar-brand"><img src="{{ url_for('static', filename='icon.svg') }}" style="width: 35px;"></img></a>
				<div class="navbar-collapse" id="navbarSupportedContent">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" style="color: #00F955;" href="/">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color: #00F955;" href="/settings">Settings</a>
						</li>
					</ul>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link disabled text-muted" href="/copyright">©</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<br>
	<br>
	<div class="container">
		<div style="width: 800px; max-width: 100%; margin-left: auto; margin-right: auto;">
			<p class="text-light">
				Pinacolada is a tool developed by 90N45 that looks for simple WLAN attacks and then informs you about them as quickly as possible. All this with the help of Hak5's WiFi Coconut, which allows Pinacolada to listen for threats on all 14 channels in the 2.4GHz range simultaneously.
				<br>
				<br>
				It is licensed under the MIT license and should be treated as such...
				<br>
				<br>
				Copyright (c) 2023 90N45
				<br>
				<br>
				Permission is hereby granted, free of charge, to any person obtaining a copy
				of this software and associated documentation files (the "Software"), to deal
				in the Software without restriction, including without limitation the rights
				to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
				copies of the Software, and to permit persons to whom the Software is
				furnished to do so, subject to the following conditions:
				<br>
				<br>
				The above copyright notice and this permission notice shall be included in all
				copies or substantial portions of the Software.
				<br>
				<br>
				THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
				IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
				FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
				AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
				LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
				OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
				SOFTWARE.
			</p>
		</div>
	</div>
</body>
</html>