<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.svg') }}">
	<title>Pinacolada - Copyright</title>
	<meta author="90N45">

	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="bg-dark">
	<div>
		<nav class="navbar navbar-expand-lg navbar-light static-top shadow-sm" style="background-color: #343a40; border-bottom: solid; border-color: #00F955;">
			<div class="container-fluid">
				<a class="navbar-brand"><img src="{{ url_for('static', filename='icon.svg') }}" style="width: 35px;"></img></a>
				<div class="navbar-collapse" id="navbarSupportedContent">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" style="color: #00F955;" href="/">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color: #00F955;" href="/settings">Settings</a>
						</li>
					</ul>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link disabled text-muted" href="/copyright">©</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<br>
	<br>
	<div style="text-align: center;">
		<h3 class="text-light">©</h3>
	</div>
</body>
</html>