<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.svg') }}">
	<title>Pinacolada - Login</title>
	<meta author="90N45">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
	<br>
	<br>
	<div class="rounded" style="width: 500px; max-width: 90%; background-color: #343a40; margin: auto;">
		<img src="{{ url_for('static', filename='logo.svg') }}" style="width: 90%; top: 1vw; margin-left: auto; margin-right: auto; display: block;">
		<br>
		<div class="input-group mb-3" style="width: 90%; bottom: 0; margin-left: auto; margin-right: auto; display: block;">
			<form method="post" style="width: 100%;">
				<input type="password" name="user_pass" class="form-control text-muted" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" style="text-align: center;">
				<br>
				<button type="submit" class="btn" style="border: solid; border-color: #00F955; width: 100%; color: #00F955;">Enter</button>
			</form>
		</div>
		<p class="text-muted" style="text-align: center; width: 100%; font-size: 15px;"><small><i>{{ message }}<br></i></small></p>
	</div>
</body>
</html>