<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.svg') }}">
	<title>Pinacolada - Settings</title>
	<meta author="90N45">

	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="bg-dark">
	<div>
		<nav class="navbar navbar-expand-lg navbar-light static-top shadow-sm" style="background-color: #343a40; border-bottom: solid; border-color: #00F955;">
			<div class="container-fluid">
				<a class="navbar-brand"><img src="{{ url_for('static', filename='icon.svg') }}" style="width: 35px;"></img></a>
				<div class="navbar-collapse" id="navbarSupportedContent">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" style="color: #00F955;" href="/">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled text-muted" href="/settings">Settings</a>
						</li>
					</ul>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" style="color: #00F955;" href="/copyright">©</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<br>
	<br>
	<div class="container text-light">
		<form method="post">
			<div style="display: flex; flex-flow: wrap;">
				<div style="max-width: 100%">
					<h4>Webserver</h4>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">IP Address</span>
						<input type="text" class="form-control bg-dark text-light" placeholder="{{ ip }}" aria-label="{{ ip }}" aria-describedby="basic-addon1" name="user_ip" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Port</span>
						<input type="text" class="form-control bg-dark text-light" placeholder="{{ port }}" aria-label="{{ port }}" aria-describedby="basic-addon1" name="user_port" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Password</span>
						<input type="password" class="form-control bg-dark text-light" placeholder="**********" aria-label="**********" aria-describedby="basic-addon1" name="user_pass" style="border: solid; border-color: #00F955;">
					</div>
					<br>
					<h4>802.11 Frame Sensitivity<p class="text-muted" style="font-size: 15px;"><small><i>(Allowed frames per minute)</i></small></p></h4>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Deauthentication Frames</span>
						<input type="number" class="form-control bg-dark text-light" placeholder="{{ deauth_limit }}" aria-label="{{ deauth_limit }}" aria-describedby="basic-addon1" name="user_deauth" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Disassociation Frames</span>
						<input type="number" class="form-control bg-dark text-light" placeholder="{{ disassoc_limit }}" aria-label="{{ disassoc_limit }}" aria-describedby="basic-addon1" name="user_disassoc" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Authentication Frames</span>
						<input type="number" class="form-control bg-dark text-light" placeholder="{{ auth_limit }}" aria-label="{{ auth_limit }}" aria-describedby="basic-addon1" name="user_auth" style="border: solid; border-color: #00F955;">
					</div>
					<br>
					<h4>Evil Twin (available soon...)</h4>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" style="background-color: #00F955!important" value="" id="flexCheckDefault" name="user_unencrypted_eviltwin" {{ eviltwin_unenc }} disabled>
						<label class="form-check-label" for="flexCheckDefault">Alert on the appearance of an open network, which already exists encrypted</label>
						<br>
					</div>
					<br>
				</div>
					<div style="max-width: 100%">
						<h4>E-Mail Alert<p class="text-muted" style="font-size: 15px;"><small><i>(You need an email account from which Pinacolada can send updates)</i></small></p></h4>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Pinacolada's E-Mail</span>
						<input type="email" class="form-control bg-dark text-light" placeholder="{{ mail_sender }}" aria-label="{{ mail_sender }}" aria-describedby="basic-addon1" name="user_mail_sender" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Pinacolada's SMTP Server (TLS)</span>
						<input type="text" class="form-control bg-dark text-light" placeholder="{{ smtp_server }}" aria-label="{{ smtp_server }}" aria-describedby="basic-addon1" name="user_smtp_server" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">SMTP Server's Port</span>
						<input type="number" class="form-control bg-dark text-light" placeholder="{{ smtp_port }}" aria-label="{{ smtp_port }}" aria-describedby="basic-addon1" name="user_smtp_port" style="border: solid; border-color: #00F955;">
					</div>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Password</span>
						<input type="password" class="form-control bg-dark text-light" placeholder="**********" aria-label="**********" aria-describedby="basic-addon1" name="user_mail_sender_pass" style="border: solid; border-color: #00F955;">
					</div>
					<br>
					<div class="input-group mb-3" style="width: 500px; max-width: 100%">
						<span class="input-group-text text-light" id="basic-addon1" style="border-left: solid; border-top: solid; border-bottom: solid; border-color: #00F955; background-color: #343a40;">Send to</span>
						<input type="email" class="form-control bg-dark text-light" placeholder="{{ mail_reciever }}" aria-label="{{ mail_reciever }}" aria-describedby="basic-addon1" name="user_mail_reciever" style="border: solid; border-color: #00F955;">
					</div>
				</div>
			</div>
			<br>
			<button type="submit" class="btn" style="border: solid; border-color: #00F955; width: 100%; color: #00F955;">Save</button>
			<p class="text-muted" style="text-align: center; width: 100%; font-size: 15px;"><small><i>These changes only apply after restarting Pinacolada.<br>Placeholders show only the settings that are currently in use...<br></i></small></p>
			<br>
			<br>
		</form>
	</div>
</body>
</html>